# My file
vitacora.txt
count_lines.py
lines_count.txt
estrcutura.txt

# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/
env/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Notebook Checkpoints
.ipynb_checkpoints

# Node (en caso de usar algún preprocesador CSS/JS)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# General
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Environment variables
.env
.env.local
.env.*.local

# Local development settings
local.py